<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Finance App</title>
  </head>
  <body>
    <div class="header">
      <h1>Finance App</h1>
    </div>
    <div class="main">
      <button class="btn"> Add Income </button>
      <button class="btn"> Add Expense </button>
      <button class="btn"> Show Total </button>
    </div>
  </body>
</html>
